@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
* {
	margin: 0;
	padding: 0;
	font-family: 'Francois One', sans-serif;
}

body {
	background-color: #dcdae0;
}

h2 {
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
}

h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5%, 0;
	font-weight: 400;
}

p {
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4%;
}

header {
	background-color: #6991AC;
	width: 100%;
	height: 86px;
}

#header-inner {}

#logo {
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(../images/logo.png) no-repeat center;
}


/*---start nav--*/

nav {
	float: right;
	padding: 25 20 0 0;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(../images/menu2.png) center;
}

ul {
	list-style-type: none;
}

nav ul li {
	font-size: 120%;
	display: inline-block;
	float: left;
	padding: 8px;
}

nav ul li a {
	color: #f5f5f5;
	text-decoration: none;
}

nav ul li a:hover {
	color: #c3d7d5;
}

.current {
	color: #c3d7d5;
}

#discord {
	height: 80px;
	width: 160px;
	filter: brightness(0) invert(1);
}

#discord:hover {
	filter: brightness(.1);
}

.fa-steam-square {
	color: white;
}

.fa-steam-square:hover {
	color: black;
}


/*---end nav--*/

.banner {
	width: 100%;
	background-color: #6991AC;
	background-image: url(../images/bg.gif);
	background-size: cover;
	background-blend-mode: multiply;
	height: 100%;
}

.banner-inner {
	max-width: 1100px;
	margin: 0 auto;
}

#banner-img {
	position: relative;
	opacity: .2;
	filter: blur(2);
}

.banner-head {
	position: absolute;
	top: 200px;
	right: 0%;
	width: 100%;
	color: #f0f0f0;
}

.one-fourth {
	width: 25%;
	float: left;
	text-align: center;
}

#matches {
	background-color: #f1aa90;
	color: #f0f0f0;
}

#results {
	background-color: #beb9ad;
	color: #f0f0f0;
}

#reg {
	background-color: #aadcd2;
	color: #f0f0f0;
}

#upload {
	background-color: #a2b2c1;
	color: #f0f0f0;
}

#upload a {
	color: white;
}

.one-fourth i {
	color: #f0f0f0;
	font-size: 500%;
	padding: 13% 0 4% 0;
}

@media screen and (max-width:768px) {
	h2 {
		font-size: 150%;
	}
	h3 {
		font-size: 125%;
	}
	p {
		font-size: 120%;
	}
	header {
		position: absolute;
	}
	#logo {
		margin: 15px 0 20 -25px;
		background: url(../images/logo.png) no repeat center;
	}
	#menu-icon {
		display: inline-block;
	}
	nav ul,
	nav:active ul {
		display: none;
		z-index: 1000;
		position: absolute;
		padding: 20px;
		background: #6991AC;
		right: 20px;
		top: 60px;
		border: 1px solid #fff;
		border-radius: 2px 0 2px 2px;
		width: 50%;
	}
	nav:hover ul {
		display: block;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
	}
	.banner {
		padding-top: 86px;
	}
	.one-fourth {
		float: left;
		width: 100%;
	}
	.one-fourth i {
		font-size: 350%;
		padding: 4% 0 1% 0;
	}
	.banner-head {
		position: absolute;
		top: 100px;
		right: 0%;
		width: 100%;
	}
}

.navbar-fixed {
	top: 0;
	position: fixed;
	width: 100%;
	background-image: url(../images/bg.gif);
	z-index: 100;
	background-size: cover;
}

#login {
	padding-left: 50%;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
	position: relative;
	display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #6991AC;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content .drop {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content .drop:hover {
	background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
	display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

#clan_image {
	height: 70px;
	width: 70px;
}

#pro_name {
	border-left: thin solid black;
	width: 50%;
	margin: 0 auto;
}

#profileimage {
	margin-left: 50%;
}

#level {
	display: inline-flex;
	padding-top: 10px;
	width: 50%;
	margin: 0 auto;
}

#member_menu {
	margin-top: 100px;
	width: 100%;
}

.block {
	height: 200px;
	width: 200px;
	font-size: 20px;
	text-align: center;
	float: left;
}

.block a {
	color: #353535;
}

.block a:hover {
	color: white;
}

.block i {
	font-size: 300%;
}

#create_team {
	background-color: cadetblue;
	margin-left: 20%;
}

#sch_match {
	background-color: burlywood;
}

#join_clans {
	background-color: darkkhaki;
}

#view_clans {
	background-color: darkcyan;
}

#stat {
	margin-top: 350px;
	vertical-align: bottom;
	text-align: center;
	background-color: antiquewhite;
}

#user_clan td {
	background-color: lightblue;
	font-size: 130%;
}

.sch_content {
	background-image: url(../images/back.jpg);
	background-size: cover;
	text-align: center;
	color: white;
	width: 100%;
	height: 640px;
}

#trans {
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	height: auto;
	width: 50%;
	left: 25%;
	color: cornflowerblue;
	border-radius: 10px;
}

input[type="submit"] {
	background-color: dimgray;
	border: none;
	color: white;
	padding: 3px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

input[type="text"] {
	background-color: dimgray;
	padding: 1px 2px;
	border: 1px solid black;
	border-radius: 5px;
	color: white;
}

select option {
	color: dimgray;
}

option:selected {
	color: dimgray;
}

#title_quote {
	font-family: 'Russo One', sans-serif;
	text-align: center;
	height: 50px;
	width: 100%;
}

#title_div {
	width: 50%;
	float: left;
	margin-top: 40px;
}

#title_form {
	border-width: 10px 10px 20px 20px;
	border-style: groove;
	border-radius: 50x;
	margin-top: 70px;
	width: 50%;
	color: black;
	text-align: center;
	/**background-image: url(../images/ring.jpg); **/
	background-position: center;
	background-size: cover;
	height: 100%;
	float: right;
}
