@import url('https://fonts.googleapis.com/css?family=Francois+One');
* {
    margin: 0;
    padding: 0;
    font-family: 'Francois One', sans-serif;
}

body {
    background-color: #dcdae0;
}

h2 {
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
}

h3 {
    font-size: 175%;
    line-height: 155%;
    padding: 5%, 0;
    font-weight: 400;
}

p {
    font-size: 160%;
    line-height: 150%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4%;
}

header {
    background-color: #6991AC;
    width: 100%;
    height: 86px;
}

#header-inner {}

#logo {
    margin: 20px;
    float: left;
    width: 200px;
    height: 60px;
    background: url(../images/logo.png) no-repeat center;
}


/*---start nav--*/

nav {
    float: right;
    padding: 25 20 0 0;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(../images/menu2.png) center;
}

ul {
    list-style-type: none;
}

nav ul li {
    font-size: 120%;
    display: inline-block;
    float: left;
    padding: 8px;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
}

nav ul li a:hover {
    color: #c3d7d5;
}

.current {
    color: #c3d7d5;
}


/*---end nav--*/

.banner {
    width: 100%;
    background-color: #6991AC;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 500px;
}

.banner-inner {
    max-width: 1100px;
    margin: 0 auto;
}

#banner-img {
    position: relative;
    opacity: .2;
    filter: blur(2);
}

.banner-head {
    position: absolute;
    top: 200px;
    right: 0%;
    width: 100%;
    color: #f0f0f0;
}

.one-fourth {
    width: 25%;
    float: left;
    text-align: center;
}

#matches {
    background-color: #f1aa90;
    color: #f0f0f0;
}

#results {
    background-color: #beb9ad;
    color: #f0f0f0;
}

#reg {
    background-color: #aadcd2;
    color: #f0f0f0;
}

#upload {
    background-color: #a2b2c1;
    color: #f0f0f0;
}

.one-fourth i {
    color: #f0f0f0;
    font-size: 500%;
    padding: 13% 0 4% 0;
}

@media screen and (max-width:768px) {
    h2 {
        font-size: 150%;
    }
    h3 {
        font-size: 125%;
    }
    p {
        font-size: 120%;
    }
    header {
        position: absolute;
    }
    #logo {
        margin: 15px 0 20 -25px;
        background: url(../images/logo.png) no repeat center;
    }
    #menu-icon {
        display: inline-block;
    }
    nav ul,
    nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: #6991AC;
        right: 20px;
        top: 60px;
        border: 1px solid #fff;
        border-radius: 2px 0 2px 2px;
        width: 50%;
    }
    nav:hover ul {
        display: block;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }
    .banner {
        padding-top: 86px;
    }
    .one-fourth {
        float: left;
        width: 100%;
    }
    .one-fourth i {
        font-size: 350%;
        padding: 4% 0 1% 0;
    }
    .banner-head {
        position: absolute;
        top: 100px;
        right: 0%;
        width: 100%;
    }
}

th {
    background-color: #6991AC;
}

.navbar-fixed {
    top: 0;
    position: fixed;
    width: 100%;
    background-image: url(../images/bg.gif);
    z-index: 100;
    background-size: cover;
}
