   .main-preloader {
   	position: fixed;
   	width: 100%;
   	height: 100%;
   	left: 0;
   	top: 0;
   	z-index: 999999999;
   	background-color: #000;
   	text-align: center;
   }
   
   .main-preloader .main-preloader-inner {
   	position: absolute;
   	top: 50%;
   	width: 100%;
   }
   
   .main-preloader .preloader-percentage {
   	color: #ffffff;
   	margin: 0;
   }
   
   .main-preloader .preloader-percentage span {
   	display: inline-block;
   	float: center;
   	font-size: 50px;
   }
