<table border=0 cellpadding=1 cellspacing=0>
  <tr>
    <td>
      <!-- BEGIN arrowupenabled -->
        <a class="link1" href="index.php?section={section}&plugin={plugin}&move=up&page={arrow_page}&id={arrow_id}"><img src="inc/pics/arrow_up.gif" title="{arrowup_pic_infotext}" border=0></a>
      <!-- END arrowupenabled -->
      <!-- BEGIN arrowupdisabled -->
        <img src="inc/pics/arrow_up_gray.gif"  border=0>
      <!-- END arrowupdisabled -->
    </td>
    <td>
      <!-- BEGIN arrowdownenabled -->
        <a class="link1" href="index.php?section={section}&plugin={plugin}&move=down&page={arrow_page}&id={arrow_id}"><img src="inc/pics/arrow_down.gif" title="{arrowdown_pic_infotext}" border=0></a>
      <!-- END arrowdownenabled -->
      <!-- BEGIN arrowdowndisabled -->
        <img src="inc/pics/arrow_down_gray.gif"  border=0>
      <!-- END arrowdowndisabled -->
      </td>
    </tr>
</table>
