          <TABLE width="100%" border="0">
            <TR>
              <TD width="8%"><span class="text1"><b>{menue_flag_flag}</b></span></TD>
              <TD width="20%"><span class="text1"><b>&nbsp;&nbsp;{menue_flag_name}</b></span></TD>
              <TD width="72%"><span class="text1"><b>{menue_flag_purpose}</b></span></TD>
            </TR>
            <!-- BEGIN flagsblock -->
            <TR>
              <TD><input type="checkbox" name="{flag_name}" value="checked" {flag_checkbox_value_checked}><span class="text1">{flag_checkbox_text}</span></TD>
              <TD><span class="text1">=&nbsp;{flag_checkbox_text_name}</span></TD>
              <TD><span class="text1">(<i>{flag_checkbox_text_purpose}<i>)</span></TD>
            </TR>
          <!-- END flagsblock -->
          </TABLE>
