    <TABLE class="anztable" cellSpacing=1 cellPadding=4>
      <TBODY>
        <TR>
          <TD class="tablekopf" colspan="3">{menue_flag_header}</TD>
        </TR>
        <TR class="tableinhalt2">
          <TD width="10%"><span class="text1"><b>{menue_flag_name}</b></span></TD>
          <TD width="10%"><span class="text1"><b>{menue_flag_flag}</b></span></TD>
          <TD width="80%"><span class="text1"><b>{menue_flag_purpose}</b></span></TD>
        </TR>
          <!-- BEGIN flaginfoanzeigeblock -->
        <TR class="tableinhalt1">
          <td><span class="text1">{info_flag_name}</span></td>
          <td><span class="text1">{info_flag_flag}</span></td>
          <td><span class="text1"><i>{info_flag_purpose}</i></span></td>
        </TR>
        <!-- END flaginfoanzeigeblock -->
        <TR class="tableinhalt2">
          <TD colspan="3">
            <span class="text1"><br></span>
          </td>
        </TR>
      </TBODY>
    </TABLE>

