<!-- start list_sites.tpl.htm -->

<!-- BEGIN prew_firs_site -->
&laquo;&laquo;&nbsp;&laquo;
<!-- END prew_firs_site -->

<!-- BEGIN link_prew_firs_site -->
<a class="page_switch" href="index.php?section={section}{pageplugin}{pid}{searchcat}{searchstring}{extracommand}&page={first_site}">&laquo;&laquo;</a>&nbsp;<a class="page_switch" href="index.php?section={section}{pageplugin}{pid}{searchcat}{searchstring}{extracommand}&page={prev_site}">&laquo;</a>
<!-- END link_prew_firs_site -->

&nbsp;

<!-- BEGIN linktosite_left -->
<a class="page_switch" href="index.php?section={section}{pageplugin}{pid}{searchcat}{searchstring}{extracommand}&page={to_site}">{to_site}</a>
<!-- END linktosite_left -->

<!-- BEGIN current_site_block -->
<b>{current_site}</b>
<!-- END current_site_block -->

<!-- BEGIN linktosite_right -->
<a class="page_switch" href="index.php?section={section}{pageplugin}{pid}{searchcat}{searchstring}{extracommand}&page={to_site}">{to_site}</a>
<!-- END linktosite_right -->

&nbsp;

<!-- BEGIN link_next_last_site -->
<a class="page_switch" href="index.php?section={section}{pageplugin}{pid}{searchcat}{searchstring}{extracommand}&page={next_site}">&raquo;</a>&nbsp;<a class="page_switch" href="index.php?section={section}{pageplugin}{pid}{searchcat}{searchstring}{extracommand}&page={last_site}">&raquo;&raquo;</a>
<!-- END link_next_last_site -->

<!-- BEGIN next_last_site -->
&raquo;&nbsp;&raquo;&raquo;
<!-- END next_last_site -->

<!-- end list_sites.tpl.htm -->

