<form style="margin:0" method="post" action="index.php?section={section}{searchplugin}{extracommand}">
  <span class="text1">{search_discription}:</span>
  <select name="serachcat">
    <!-- BEGIN scrollsearchblock -->
    <option value="{scrollserachcatvalue}"{scrollserachcatselected}>{scrollserachcat}</option>
    <!-- END scrollsearchblock -->
  </select>
  <input class="input5" name="searchstring" type="text" value="{searchstring}">
  <input name="searchbutton" type="submit" id="search" value="&nbsp;&nbsp;&nbsp;&nbsp;{searchbuttontext}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
</form>
