  <TABLE class="anztable" cellSpacing=1 cellPadding=4>
    <TBODY>
      <TR>
        <TD class="tablekopf">
          {404_header}
        </TD>
      </TR>
      <TR class="tableinhalt1">
        <TD align = "center">
          <IMG src="inc/pics/404.jpg" alt="404-Error" border=0><br>
          <span class="text1"><b><br>{404_text}<br><br><b></span>
        </TD>
      </TR>
      <TR class="tableinhalt2">
        <TD align = "center">
          <form style="margin:0" method="post" action="{404_backlink}">
            <center>
              <input name="adduserbutton" type="submit" id="adduser" value="&nbsp;&nbsp;&nbsp;&nbsp;{404_button_text}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
            </center>
          </form>
        </TD>
      </TR>
    </TBODY>
  </TABLE>
