      <TABLE class="anztable" cellSpacing=1 cellPadding=4>
         <TBODY>
           <TR>
             <TD class="tablekopf">{credits_header}</TD>
           </TR>
           <TR class="tableinhalt1">
             <td valign="middle" align="center">
			 <br>
               <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                 <TR>
                   <TD width="34%" valign="top">
                     <span class="text1">
                       <b>Project Manager, Lead Developer:</b>
                       <ul>
                         <li>HSFighter</li>
                       </ul>
                       <b>Language Translation:</b>
                       <ul>
                         <li>HSFighter <i>(*Bad* English)</i></li>
                         <li>UnFixed <i>(*Better* English)</i></li>
						 <li>HSFighter <i>(German)</i></li>
                         <li>HO!NO! <i>(French)</i></li>
                         <li>elpouletorange <i>(French)</i></li>
                         <li>Fighter777 <i>(French)</i></li>
                         <li>manix <i>(French)</i></li>
                         <li>eric0279 <i>(French)</i></li>
						 <li>Flyflo <i>(French)</i></li>
                         <li>S@ndel <i>(Russian)</i></li>
                       </ul>
                     </span>
                   </TD>
				    <TD width="33%" valign="top">
                     <span class="text1">
                       <b>Developer of 3rd Party Plugin's:</b>
                       <ul>
                         <li>moggiex</li>
                         <li>MistaGee</li>
						 <li>FLOOR_MASTER</li>
                         <li>muukis</li>
                         <li>strontiumdog</li>
						 <li>bl4nk</li>					  	
                         <li>-=|JFH|=-Naris</li>
                         <li>msleeper</li>
                       </ul>
                     </span>
                   </TD>				   				   
                   <TD width="33%" valign="top">
                     <span class="text1">
                       <b>Special Thanks to:</b>
                       <ul>
                         <li>Bailopan</li>
                         <li>Nephyrin</li>
                         <li>W][LDF][RE</li>
                         <li>stevieboy</li>
                         <li>Chrisber</li>
                         <li>NuX</li>
                         <li>DeaD_EyE</li>
                         <li>Isias</li>
                         <li>GonZo</li>
                       </ul>
                     </span>
                   </TD>
                 </TR>
                 <TR>
                   <TD colspan="3" align="center" valign="middle">
                     <form style="margin:0" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                       <input type="hidden" name="cmd" value="_donations">
                       <input type="hidden" name="business" value="paypal@hsfighter.net">
                       <input type="hidden" name="no_shipping" value="0">
                       <input type="hidden" name="no_note" value="1">
                       <input type="hidden" name="currency_code" value="EUR">
                       <input type="hidden" name="tax" value="0">
                       <input type="hidden" name="lc" value="GB">
                       <input type="hidden" name="bn" value="PP-DonationsBF">
                       <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-butcc-donate.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
                       <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
                     </form>
                     <span class="text1"><b>If you want to donate for this project, I said thanks for it!</b></span><br><br>
                   </TD>
                 </TR>
               </table>
             </td>
           </TR>
           <TR class="tableinhalt2">
             <TD><span class="text1"><br></span></td>
           </tr>
         </tbody>
       </table>
