       <TABLE  class="navitable" cellSpacing=1 cellPadding=4>
         <TBODY>
           <TR>
             <TD class="tablekopf" colspan="3">{navi_sm}</TD>
           </TR>
           <TR>
             <td class="background2">
               <a class="link1" href="index.php?section=clients">&raquo;&nbsp;{navi_clients}</a>
               <br>
               <a class="link1" href="index.php?section=clientflags">&raquo;&nbsp;{navi_clientflags}</a>
               <br>
               <a class="link1" href="index.php?section=groups">&raquo;&nbsp;{navi_groups}</a>
               <br>
               <a class="link1" href="index.php?section=groupflags">&raquo;&nbsp;{navi_groupflags}</a>
               <br>
               <a class="link1" href="index.php?section=groupoverrides">&raquo;&nbsp;{navi_groupoverrides}</a>
               <br>
               <a class="link1" href="index.php?section=overrides">&raquo;&nbsp;{navi_overrides}</a>
               <!-- BEGIN naviservergroupsblock -->
               <br>
               <a class="link1" href="index.php?section=servergroups">&raquo;&nbsp;{navi_servergroups}</a>
               <!-- END naviservergroupsblock -->
               <br><hr noshade class="line1">
               <a class="link1" href="index.php?section=export">&raquo;&nbsp;{navi_export}</a>
             </TD>
           </TR>
         </TBODY>
       </TABLE>

        <br>

        <TABLE  class="navitable" cellSpacing=1 cellPadding=4>
         <TBODY>
           <TR>
             <TD class="tablekopf" colspan="3">{navi_plugins}</TD>
           </TR>
           <TR>
             <td class="background2">
               <!-- BEGIN pluginnaviblock -->
               <a class="link1" href="index.php?section={sectionlink}&plugin={navi_plugin_systemname}">&raquo;&nbsp;{navi_plugin_name}</a>
		   <br>
               <!-- END pluginnaviblock -->
               <!-- BEGIN hrlineblock -->
               <hr noshade class="line1">
               <!-- END hrlineblock -->
               <a class="link1" href="index.php?section=plugins">&raquo;&nbsp;{navi_management}</a>
             </TD>
           </TR>
         </TBODY>
       </TABLE>

       <br>
       
       <TABLE  class="navitable" cellSpacing=1 cellPadding=4>
         <TBODY>
           <TR>
             <TD class="tablekopf" colspan="3">{navi_inteface}</TD>
           </TR>
           <TR>
             <td class="background2">
               <a class="link1" href="index.php?section=news">&raquo;&nbsp;{navi_home}</a>
               <br>
               <a class="link1" href="index.php?section=user">&raquo;&nbsp;{navi_user}</a>
               <br>
               <a class="link1" href="index.php?section=user&action=edituser&id={navi_profil_checkid}">&raquo;&nbsp;{navi_profil}</a>
               <br>
               <a class="link1" href="index.php?section=server">&raquo;&nbsp;{navi_server}</a>
               <br>
               <a class="link1" href="index.php?section=mods">&raquo;&nbsp;{navi_mods}</a>
               <br>
               <a class="link1" href="index.php?section=settings">&raquo;&nbsp;{navi_settings}</a>
               <br>
               <a class="link1" href="index.php?section=credits">&raquo;&nbsp;{navi_credits}</a>
               <br><hr noshade class="line1">
               <a class="link1" href="index.php?section=logout">&raquo;&nbsp;{navi_logout}</a>
             </TD>
           </TR>
         </TBODY>
       </TABLE>

       <br>
       <br>
