{header}
<center>
<TABLE class="haupttable" cellSpacing=1 cellPadding=0>
  <TBODY>
    <TR>
      <TD class="header_footer" colspan="2">{logo}</TD>
    </TR>
    <!--  <TR class="tableinhalt2">
      <TD colspan="2" height="25"><span class="text4"><IMG src="inc/pics/dot.gif" alt="dot" border=0><b>{welcome}, {messages}</b></span></TD>
    </TR>-->
    <TR>
      <TD class="navi" align="center" valign="top" width="20%"><br>{navi}</TD>
      <TD class="background2" align="center" valign="top" width="80%"><br>{anzeige}<br></TD>
    </TR>
    <TR>
      <TD class="header_footer" colspan="2"><center><br><span class="text1">Sourcemod Webadmin {version}<br>2007 - 2010 by HSFighter</span><br><br></center></TD>
    </TR>
  </TBODY>
</TABLE>
</center>
{footer}
