<TABLE class="anztable" cellSpacing=1 cellPadding=4>
         <TBODY>
           <TR>
             <TD class="tablekopf" colspan="3">Sourcemod Webadmin {version}</TD>
           </TR>
           <TR class="tableinhalt1">
             <td align = "left" valign = "middle">

<TABLE border="0" cellSpacing=0 cellPadding=0>
<TR>
  <td><span class="text1"><b>{welcome}</b>,</span></td>
</TR>
</table><br>
<span class="text1">
              the Sourcemod-Webadmin is a webinterface to manage sourcemod plugin's with MySQL Support. <br><br>
              This version is a BETA - this means that, although feature complete,<br>
              some features may still contain bugs.<br>
              This software comes with no warranty, either expressed or implied.<br>
              If you lose valuable data, sanity, a wife or wifes,<br>
              as a result of using this Software or Script, I am not to blame.
              <br><br>
              Greetings HSFighter
              <br><br>
              </span>
             </td>
           </TR>
           <TR class="tableinhalt2">
             <TD><span class="text1">&nbsp;</span></td>
           </tr>
         </tbody>
       </table>
