<form style="margin:0" method="post" action="{execaddeditoverride}">
  <TABLE class="anztable" cellSpacing=1 cellPadding=4>
    <TBODY>
      <TR>
        <TD class="tablekopf" colspan="2">{menue_overrides}</TD>
      </TR>
      <TR class="tableinhalt2">
        <TD colspan="2">
          <span class="text1"><b>{menue_overrides_info_general}:</b></span><br>
        </td>
      </TR>
      <TR class="tableinhalt1">
        <TD width="20%" align = "right"><span class="text1">{menue_overrides_name}:</span></TD>
        <TD width="80%"><input class="input1" name="name" type="text" value="{overridesname}"></TD>
      </TR>
      <TR class="tableinhalt1">
        <TD align = "right"><span class="text1">{menue_overrides_type}:</span></TD>
        <TD>
          <select name="type">
            <!-- BEGIN scrolltypeblock -->
            <option value="{scrolltypevalue}"{scrolltypeselected}>{scrolltype}</option>
            <!-- END scrolltypeblock -->
          </select>
        </TD>
      </TR>
      <TR class="tableinhalt1">
         <TD align = "right" valign = "top"><span class="text1">{menue_overrides_flags}:</span></TD>
         <TD>{flagscheckbox}</TD>
      </TR>
      <TR class="tableinhalt2">
        <TD align = "center" colspan="2">
          <TABLE width="100%" colspan="2" border="0">
            <TR>
              <TD>
               <form style="margin:0">
                <center>
                  <input name="addeditbutton" type="submit" id="addedit" value="&nbsp;&nbsp;&nbsp;&nbsp;{add_edit_override_button_text}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
                </center>
                </form>
              </TD>
              <TD>
                <form style="margin:0" method="post" action="index.php?section=overrides">
                  <center>
                    <input name="backbutton" type="submit" id="backtooverrides" value="&nbsp;&nbsp;&nbsp;&nbsp;{back_override_button_text}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
                  </center>
                </form>
              </TD>
            </TR>
          </TABLE>
        </td>
      </TR>
    </TBODY>
  </TABLE>
</form>
<br>
