<form style="margin:0" method="post" action="index.php?section={section}&plugin={plugin}{editactionsid}">
  <TABLE class="anztable" cellSpacing=1 cellPadding=4>
    <TBODY>
      <TR>
        <TD class="tablekopf" colspan="2">{servermms_psidcvar_add_edit_discription}</TD>
      </TR>
      <TR class="tableinhalt2">
        <TD colspan="2">
          <span class="text1"><b>{servermms_info_general}:</b></span>
        </td>
      </TR>
      <TR class="tableinhalt1">
        <TD width="40%" align = "right"><span class="text1">{servermms_new_server_id_discription}:</span></TD>
        <TD width="60%" align = "left">
          <input class="input3" name="psidcvar" type="text" maxlength="4" id="psidcvar" value="{servermms_psidcvar}">
	    
        </TD>
        <TR class="tableinhalt2">
        <TD align = "center" colspan="2">
          <TABLE width="100%" colspan="2" border="0">
            <TR>
              <TD>
                <form style="margin:0">
                  <center>
                   <input name="psidcvaraddbutton" type="submit" id="execaddpsidcvar" value="&nbsp;&nbsp;&nbsp;&nbsp;{servermms_psidcvar_add_edit_button_text}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
                  </center>
                </form>
              </TD>
              <TD>
                <form style="margin:0" method="post" action="javascript:history.back()">
                  <center>
                    <input name="backbutton" type="submit" id="back" value="&nbsp;&nbsp;&nbsp;&nbsp;{back_button_text}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
                  </center>
                </form>
              </TD>
            </TR>
          </TABLE>
        </td>
      </TR>
    </TBODY>
  </TABLE>
</form>
